server {
      listen 80;
      location / {
        # add_header Cache-Control "no-store";
        sub_filter_once on;
        sub_filter "BASE_URL_PLACEHOLDER" ${BASE_URL};
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
      }
      location /assets/ {
        root /usr/share/nginx/html;
        try_files $uri $uri/ =404;
      }
    }
